/* =========================================================================
   Grid
========================================================================= */

$sm: 35.5em;
$md: 48em;
$lg: 64em;
$xl: 80em;
$t_columns: 12;
$t_gutter: 1em;
$t_breakpoints: (
        sm: $sm,
        md: $md,
        lg: $lg,
        xl: $xl,
);

.container {
    position: relative;
    max-width: 70em;
    display: block;;
    padding-right: $t_gutter/2;
    padding-left: $t_gutter/2;
    margin-right: auto;
    margin-left: auto;
}

.container-narrow {
    position: relative;
    max-width: 50em;
    display: block;;
    padding-right: $t_gutter/2;
    padding-left: $t_gutter/2;
    margin-right: auto;
    margin-left: auto;
}

.row {
    letter-spacing: -.31em;
    text-rendering: optimizespeed;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    margin-left: -($t_gutter/2);
    margin-right: -($t_gutter/2);

    &.no-gutter{
        padding-left: $t_gutter / 2;
        padding-right: $t_gutter / 2;
        .col{
            padding-left: 0;
            padding-right: 0;
        }
    }
    @include clearfix;
}

.col {
    @extend %columns;
}

%columns {
    position: relative;
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    padding-left: $t_gutter / 2;
    padding-right: $t_gutter / 2;
    box-sizing: border-box;
    width: 100%;
}

// Loop for Non MQ
@for $i from 1 through $t_columns {
    .col-1-#{$i} {
        @extend %columns;
        width: 1 / $i * 100%;
    }
}

// Loop for MQ
@each $bp, $value in $t_breakpoints {
    @include breakpoint($value) {
        @for $i from 1 through $t_columns {
            
            .col-#{$bp}-1-#{$i} {
                width: 1 / $i * 100%;
            }
            .#{$bp}-push-1-#{$i} {
                left: 1 / $i * 100%;
            }
            .#{$bp}-pull-1-#{$i} {
                right: 1 / $i * 100%;
            }
            
        }
    }
}